.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    background-color: #E8E5E4;
  }
 /* .test {
 
 } */
  .about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f0f0f0;
      
  }
  
  .about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    color: #e9d35b;
    height: 50px;
  }

.prompt {
  font-family: monospace;
  font-size: 2rem;
  transform: matrix(1, 0, 0, 1, 0, 0);
  color: black;
}
.heading {
  display: flex;
  align-items: center;
  font-size: 3rem;
}
  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: white;
  }
  
  .skills {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .skills h1 {
    color: #3e497a;
  }
  
  .slider {
    margin-top: 1rem;
    font-size: 60px;
  }
  
  .list span {
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }

    .list {
      padding: 0;
    }

  .experience {
    border-top: 1px;
    }
  

  }